.todo-list-box {
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.527);

  &__items {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.281);
    padding: 20px;
    cursor: pointer;

    &--check-btn {
      background-color: #D9AFD9;
      background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
        padding: 4px;
      border-radius: 100%;
      margin-right: 0.5em;
      text-align: center;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.411);
    }

    &:hover {
      background-color: rgba(128, 128, 128, 0.164);
    }

    &--radio-btn {
      margin-right: 0.5em;
    }

    &--btn-box {
      &__btn {
        padding: 5px;
        background: none;
        border: none;
      }
    }
  }

  &__items-dark {
    background-color: #252945;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.281);
    padding: 20px;
    cursor: pointer;
    color: white;

    &--check-btn {
      background-color: #D9AFD9;
      background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
       padding: 5px;
      border-radius: 50%;
      margin-right: 0.5em;
      text-align: center;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.411);
    }

    &:hover {
      background-color: #252945a8;
    }

    &--radio-btn {
      margin-right: 0.5em;
    }

    &--btn-box {
      &__btn {
        padding: 5px;
        background: none;
        border: none;
      }
    }
  }
}
